<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015 - 7 - 20
  ~ -7 :9:16
  ~ -一个人的时候你要好好的努力，这样以后配得起相遇那一刻的怦然心动，你若盛开，清风自来。
  ~ -作者:吴培基
  ~ -QQ:757671834
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="w.p.j.SwaggerConfig"/>
</beans>